<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:</label><br>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:text="${role.name}"/> <br>
    </div>
    <input type="submit" value="Update!"/>
</form>
<br/>



</body>
</html>